@import "../variables/theme-colors";

html {
  overflow-y: hidden !important;
}

main {
  width: 100%;
  height: 95vh;
  overflow-y: auto;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: url(~assets/images/bg22.jpg) center/cover;
    filter: blur(5px);
    z-index: -1;
  }
}

nav[aria-label="main navigation"] {
  height: 5vh !important;
  background: linear-gradient(0deg, lighten($primary, 10%), darken($primary, 10%));
}
